<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
</head>
<body>
<h1>Users list</h1>
<form>
    <label for="selectOption">Select a users:</label>
    <select id="selectOption" name="selectedOption">
        <option th:each="option : ${options}" th:value="${option}" th:text="${option}"></option>
    </select>
    <input type="submit" value="Send">
</form>
</body>
</html>
